In [11]:
# from cleantext import clean
#
# s = "¬øPos de cu√°l \;i-       or√©gano le puso al pozole, oiga? ü§î Esa clase de viajes no los ten√≠a ni Bob Marley. üôäüêÖ"
#
# print(clean(s, no_emoji=True))
import pygsheets

In [12]:
gc = pygsheets.authorize(service_file='tweet-auto-01-833e318c05c8.json')

# sh = gc.open('hh_test')

In [33]:
sh = gc.open('why')

In [34]:
import pandas as pd

In [35]:
pd.DataFrame(sh[0].get_all_values())

     0  1 2
0    y  y
1    4  3
2    6  4
3    1  5
4    5  9
..  .. .. ..
995
996
997
998
999

[1000 rows x 3 columns]

In [37]:
sh[0].update_value('B7','=googletranslate(A7)')

In [ ]:
gc.up